.nav-item{
    text-align: left;
}

.jumbotron{
    background-color:#e9ecef;
}

.card-img, .card-img-top {
    height: 150px;
    object-fit: cover;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: justify;
}

.footer{
    height: 70px;
}